
@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css)
/*body {
  background-image: url("nen.jpg");
  position: center;
  text-align: center;
  height: 550px;
  width: 700px;
  margin-top: 50px;
  margin-left: 300px;

}
.dangnhap {
  font-size: 40px;
  color: rgb(207, 74, 74);
  margin-bottom: 20px;

}
.all {
}
#name,
#password {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.button {

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
*/
